/* color fondo, letra tamaño y margenes  */

html{
    /* color de fondo */
    background-color: rgba(133, 146, 142, 0.575);
    /* tipo de letra */
    font-family: sans-serif;
    /* tamaño de la letra */
    font-size: 16px;
    /* margenes */
    padding: 20px 20px 0px 20px;
}

/* Estilos de la pagina */
/* tamano del header */
header{
    height: 10vh;
}
/* le damos tamaño y margen al logo */
.logo{
    width: 50px;
    height: 50px;
    margin: 10px 20px 20px 10px;
}
footer, .boton_saber_mas{
    /* poner en posición fija */
    position: fixed;
    /* hacerlo del ancho de la pantalla */
    width: 100%;
    background-color: green;
    /* bordes redondeados */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    /* Impotante para saltarse los margenes de html */
    left: 0;
    /* centrar texto */
    text-align: center;
    /* color de la letra hay que darle una a la a */
    color: rgb(255, 253, 253);
    /* cuando hay position el boton delimita los margenes */
    bottom: 0;
    font-weight: bold;
}
